/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/mkmf.log

# Ruby
.ruby-version
.ruby-gemset

# Rust
/ext/parallel_sort/target
/ext/parallel_sort/Cargo.lock
/lib/*.so
